Repository pfnet/pytorch-pfn-extras, pull requests merged in 2024-11, with the labels that each got.

#845 Drop torch 1.10, 1.11, 1.12
  .flexci/config.pbtxt
  .flexci/linux/build_and_push.sh
  .flexci/windows/test.ps1
  .github/workflows/pretest-and-test.yml
  README.md
  pytorch_pfn_extras/onnx/_constants.py
  pytorch_pfn_extras/onnx/_globals.py
  pytorch_pfn_extras/onnx/annotate.py
  pytorch_pfn_extras/onnx/export_testcase.py
  pytorch_pfn_extras/onnx/pfto_exporter/export.py
  pytorch_pfn_extras/onnx/symbolic_registry.py
  tests/pytorch_pfn_extras_tests/handler_tests/test_handler.py
  tests/pytorch_pfn_extras_tests/nn_tests/parallel_tests/test_distributed.py
  tests/pytorch_pfn_extras_tests/onnx_tests/test_annotate.py
  tests/pytorch_pfn_extras_tests/onnx_tests/test_as_output.py
  tests/pytorch_pfn_extras_tests/onnx_tests/test_export.py
  tests/pytorch_pfn_extras_tests/onnx_tests/test_export_testcase.py
  tests/pytorch_pfn_extras_tests/onnx_tests/test_grad.py
  tests/pytorch_pfn_extras_tests/onnx_tests/test_helper.py
  tests/pytorch_pfn_extras_tests/onnx_tests/test_lax.py
  tests/pytorch_pfn_extras_tests/onnx_tests/test_torchvision.py
  tests/pytorch_pfn_extras_tests/training_tests/extensions_tests/test_accumulate.py
Labels: no-compat, cat:test

#844 Split unittest/mpitest
  .flexci/config.pbtxt
  .flexci/linux/script.sh
  .flexci/linux/unittest.sh
Labels: cat:test

#840 use latest setuptools
  .flexci/linux/Dockerfile
  .flexci/linux/unittest.sh
  .flexci/windows/test.ps1
  tests/pytorch_pfn_extras_tests/test_writing.py
  tests/pytorch_pfn_extras_tests/training_tests/extensions_tests/test_log_report.py
Labels: cat:test

#847 Update _version.py
  pytorch_pfn_extras/_version.py
Labels: cat:other

#850 Fix Python version restriction
  pytorch_pfn_extras/_version.py
  setup.py
Labels: cat:bug

#843 Fix onnx errors in PyTorch 2.5
  .github/workflows/pretest-and-test.yml
  pytorch_pfn_extras/_dynamo/_optimizer.py
  pytorch_pfn_extras/onnx/export_testcase.py
  pytorch_pfn_extras/onnx/pfto_exporter/export.py
Labels: cat:enhancement
